<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name %> <%= @user.last_name %> updated an appointment!</h1>
    <h3>Date:</h3><p><%= @appointment.date %></p>
    <h3>Time:</h3><p><%= @appointment.time.strftime("%I:%M %p") %></p>
    <h3>Comment:</h3><p><%= @appointment.comment %></p>
    <h3>Created:</h3><p><%= @appointment.created_at.strftime("%F") %></p><p><%= @appointment.created_at.strftime("%I:%M %p") %></p>
  </body>
</html>
