<div class="page-header">
  <%= link_to new_appointment_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Appointment
  <% end %>
  <% if @current_user.admin? %>
    <h1><%= @appointments.count %> Appointments</h1>
    <%= select(:appointment, :date, Appointment.uniq.order(date: :asc).pluck(:date)) %>
  <% else %>
    <h1>My Appointments</h1>
  <% end %>
</div>

<div class="table-responsive appointments">
  <table class="table table-hover">
    <thead>
      <tr>
            <% if @current_user.admin? %>
              <th>User Name</th>
              <th>User Email</th>
            <% end %>
            <th>Date</th>
            <th>Time</th>
            <th>Comment</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @appointments) do |appointment| %>
            <% if @current_user.admin? %>
              <% @user = User.find(appointment.user_id) %>
              <th><%= @user.first_name %> <%= @user.last_name %></th>
              <th><%= User.find(appointment.user_id) %></th>
            <% end %>
            <td><%= appointment.date %></td>
            <td><%= appointment.time.strftime("%I:%M %p") %></td>
            <td><%= appointment.comment %></td>
            <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Delete', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
